// color
$primary-color: #393d50;
$primary-dark-color: #181828;
$secondary-color: #00bcd4;
$dark-gray: #99a9b5;
$dark-light-gray: #c5c5c5;
$light-gray: #c9d6d8;

$header-color: #f4f6f7;
$background-white: white;
$filter-color: #f0f3f2;
$detail-product: #f9fbfc;
$navigation-color: #b6c6c9;
$category-color: #ff5252;
$subMenu-color: #eff2f3;
$hoverSub-color: #d8e3e8;
$product-title: #6a7b88;
$border-viewed: #dfe5e8;

$coupon-color: #ff5176;
$share-color: #b6c6c9;

$sell-color: #d1edac;
$page-info: #212331;

$border-form-color: #394050;
$placeholder-color: #323544;
$yellow: #ffd75e;

// font-size
$font-size: (12, 14, 16, 18, 20, 24, 30, 40, 60, 70, 80, 90, 100);

// font-weight
$font-weight: (normal, bold, 200, 400, 300, 700);

// list color
$bg-colors: (1: #828e97, 2: #5c6973, 3: #4b565d, 4: #5c6973, 5: #4b565d, 6: #828e97, 7: #828e97, 8: #828e97, 9: #5c6973)
